{{#if display}}
    <div class="feedback">
        <div class="row">
            <div class="col-xs-1">
                <div class="btn-group-vertical btn-group-xs" role="group" aria-label="usefulness">
                  {{#if feedback.opinion}}
                      <button type="button" {{bind-attr class=":btn veryUseful:btn-primary:btn-default veryUseful::disabled"}}>
                          <i class="glyphicon glyphicon-backward btn-up"></i>
                        {{#if veryUseful}}
                          {{#if isNegative}}
                              <p>{{to-fixed fixed=1 num=feedback.usefulness}}</p>
                          {{else}}
                              <p>{{to-fixed fixed=2 num=feedback.usefulness}}</p>
                          {{/if}}
                        {{/if}}
                      </button>
                      <button type="button" {{bind-attr class=":btn useful:btn-primary:btn-default useful::disabled"}}>
                          <i class="glyphicon glyphicon-triangle-top"></i>
                        {{#if useful}}
                          {{#if isNegative}}
                              <p>{{to-fixed fixed=1 num=feedback.usefulness}}</p>
                          {{else}}
                              <p>{{to-fixed fixed=2 num=feedback.usefulness}}</p>
                          {{/if}}
                        {{/if}}
                      </button>
                      <button type="button" {{bind-attr class=":btn useless:btn-primary:btn-default useless::disabled"}}>
                          <i class="glyphicon glyphicon-triangle-bottom"></i>
                        {{#if useless}}
                          {{#if isNegative}}
                              <p>{{to-fixed fixed=1 num=feedback.usefulness}}</p>
                          {{else}}
                              <p>{{to-fixed fixed=2 num=feedback.usefulness}}</p>
                          {{/if}}
                        {{/if}}
                      </button>
                  {{else}}
                      <button type="button" class="btn btn-default" {{action 'assess' 2}}>
                          <i class="glyphicon glyphicon-backward btn-up"></i>
                      </button>
                    {{#if isNegative}}
                        <button type="button" class="btn btn-default" {{action 'assess' 1}}>
                            <i class="glyphicon glyphicon-triangle-top"></i>
                        </button>
                        <button type="button" class="btn btn-default" {{action 'assess' -1}}>
                            <i class="glyphicon glyphicon-triangle-bottom"></i>
                            <p>{{to-fixed fixed=1 num=feedback.usefulness}}</p>
                        </button>
                    {{else}}
                        <button type="button" class="btn btn-default" {{action 'assess' 1}}>
                            <i class="glyphicon glyphicon-triangle-top"></i>
                            <p>{{to-fixed fixed=2 num=feedback.usefulness}}</p>
                        </button>
                        <button type="button" class="btn btn-default" {{action 'assess' -1}}>
                            <i class="glyphicon glyphicon-triangle-bottom"></i>
                        </button>
                    {{/if}}
                  {{/if}}
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-0">
                <div class="row">
                    <div class="col-sm-5">
                        <p><strong>{{#link-to 'store.customer' feedback.customer}}{{feedback.customer.username}}{{/link-to}} </strong>
                          {{print-date date=feedback.time format="YYYY-MM-DD HH:MM:SS"}}</p>
                    </div>
                    <div class="col-sm-7">
                        <!--<i class="glyphicon glyphicon-star"> </i>-->
                        <!--<i class="glyphicon glyphicon-star-empty"></i>-->
                      {{show-star-rating rating=feedback.score}}
                        <span>{{feedback.score}} / 10</span>
                    </div>
                </div>

                <p>{{feedback.comment}}</p>
            </div>
        </div>
    </div>
{{/if}}