<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
            Most popular publishers
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      {{my-daterange-picker startDate=start endDate=end class="pull-left"}}
    </div>
    <div class="col-sm-6">
      {{pagination-limit limit=limit class="pull-right"}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Publisher id</th>
                <th>Publisher name</th>
                <th>Sales</th>
            </tr>
            </thead>
            <tbody>
            {{#each publishers as |publisher|}}
                <tr>
                    <th>{{publisher.id}}</th>
                    <td>{{publisher.name}}</td>
                    <td>{{publisher.sales}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{pagination-nav max=pagecount offset=offset limit=limit}}
