<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
            Most trusted customers
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      {{pagination-limit limit=limit class="pull-right"}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Customer id</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {{#each customers as |customer|}}
                <tr>
                    <td>{{customer.id}}</td>
                    <td>{{customer.username}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.score}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{pagination-nav max=pagecount offset=offset limit=limit search='updateCustomers'}}