<div class="container">
    <div class="page-header">
        <!--<div class="col-sm-8">-->
        <h2>《{{model.title}}》<small>{{model.subtitle}}</small></h2>
        <!--</div>-->
        <!--<h4 class="pull-right"><i class="glyphicon glyphicon-shopping-cart"></i></h4>-->
    </div>
    <div class="col-sm-12 book-main">
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="thumbnail">
                    <img src={{model.img}} alt="...">
                </a>
            </div>
            <div class="col-sm-7 col-sm-offset-1 book-info">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>ISBN</td>
                        <td>{{model.id}}</td>
                    </tr>
                    <tr>
                        <td>Publisher</td>
                        <td>{{model.publisher.name}}</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>{{#each model.authors as |author|}}{{#link-to 'store'}}{{author.name}}{{/link-to}} {{/each}}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{model.amount}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>￥{{!model.price}}</td>
                    </tr>
                    <tr>
                        <td>Publication Date</td>
                        <td>{{print-date date=model.date}}</td>
                    </tr>
                    <tr>
                        <td>Format</td>
                        <td>{{model.format}}</td>
                    </tr>
                    <tr>
                        <td>Subject</td>
                        <td>{{model.subject}}</td>
                    </tr>
                    <tr>
                        <td>Keyword</td>
                        <td>{{model.Keyword}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="book-summary">
                <h4>Summary</h4>
                <p style="font-size: 13px; margin: 0">{{model.summary}}</p>
            </div>

            <!--Feedback-->

            <h4>Feedbacks</h4>


          {{#each model.feedbacks as |feedback|}}
              <div class="feedback" style="margin-bottom: 15px">
                  <div class="row">
                      <div class="col-sm-5">
                          <p><strong>{{feedback.customer.username}} </strong>
                            {{print-date date=feedback.time format="YYYY-MM-DD HH:MM:SS"}}</p>
                      </div>
                      <div class="col-sm-7">
                          <!--<i class="glyphicon glyphicon-star"> </i>-->
                          <!--<i class="glyphicon glyphicon-star-empty"></i>-->
                        {{show-star-rating rating=feedback.score}}
                          <span>{{feedback.score}} / 10</span>
                      </div>
                  </div>
                  <p>{{feedback.comment}}</p>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="btn-group btn-group-xs" role="group" aria-label="usefulness">
                              <button type="button" class="btn btn-default">Very useful</button>
                              <button type="button" class="btn btn-default">Useful</button>
                              <button type="button" class="btn btn-default">Useless</button>
                          </div>
                      </div>
                  </div>
              </div>
          {{/each}}
        </div>


        <div class="col-sm-4">
            <!--Add into cart-->
            <!--<div class="book-cart">-->
            <!--<h3><i class="glyphicon glyphicon-shopping-cart"></i> ￥{{model.price}}</h3>-->
            <!--</div>-->

            <!--Write Feedback-->
            <div class="book-new-feedback">


              {{#if ownFeedback}}
                {{#each ownFeedback as |feedback|}}
                    <h4>Your Feedback</h4>
                  <div class="row">
                      <div class="col-sm-5">
                          <p><strong>{{feedback.customer.username}} </strong>
                            {{print-date date=feedback.time format="YYYY-MM-DD HH:MM:SS"}}</p>
                      </div>
                      <div class="col-sm-7">
                          <!--<i class="glyphicon glyphicon-star"> </i>-->
                          <!--<i class="glyphicon glyphicon-star-empty"></i>-->
                        {{show-star-rating rating=feedback.score}}
                          <span>{{feedback.score}} / 10</span>
                      </div>
                  </div>
                  <p>{{feedback.comment}}</p>
                {{/each}}
              {{else}}
                  <h4>Write Your Feedback</h4>
                  <form class="form">
                      <div class="form-group">
                        {{textarea class="form-control" rows="3" value=comment}}
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-3 input-group-sm">
                            {{input type="number" class="form-control" max=10 min=0 id="inputRating" placeholder="" value=rating}}
                          </div>
                          <div class="col-sm-2 pull-right">
                              <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                              <button {{action 'submitFeedback'}} class="btn btn-primary pull-right btn-sm">Submit</button>
                          </div>
                      </div>
                  </form>
              {{/if}}
            </div>
        </div>
    </div>

</div>