<div class="container">
    <div class="page-header">
        <!--<div class="col-sm-8">-->
        <h2>《{{model.title}}》<small>{{model.subtitle}}</small></h2>
        <!--</div>-->
        <!--<h4 class="pull-right"><i class="glyphicon glyphicon-shopping-cart"></i></h4>-->
    </div>

        <div class="row book-main">
            <div class="col-sm-4 col-sm-offset-2 col-md-3 col-lg-3">
                <a href="#" class="thumbnail">
                    <img src={{model.img}} alt={{model.title}}>
                </a>
            </div>
            <div class="col-sm-4 col-sm-offset-1 book-info">

                <p><strong>ISBN: </strong>{{model.id}}</p>

                <p><strong>Publisher: </strong>{{model.publisher.name}}</p>

                <p><strong>Author: </strong>{{#each model.authors as |author|}}{{#link-to 'store.author' author}}{{author.name}}{{/link-to}} {{/each}}</p>

                <p><strong>Amount: </strong>{{model.amount}}</p>

                <p><strong>Price: </strong>￥{{model.price}}</p>

                <p><strong>Publication Date: </strong>{{print-date format="YYYY-MM-DD" date=model.date}}</p>

                <p><strong>Format: </strong>{{model.format}}</p>

                <p><strong>Subject: </strong>{{model.subject}}</p>

                <p><strong>Keyword: </strong>{{model.Keyword}}</p>

                <p><strong>Rating: </strong> {{show-star-rating rating=avgRating}} ( {{to-fixed fixed=2 num=avgRating}}/ 10 )</p>
            </div>
        </div>


    <div class="row">
        <h3>Suggestions</h3>
        <div class="col-sm-1"></div>
      {{#each model.suggestions as |suggestion|}}
          <div class="col-sm-2">
            {{book-suggestion book=suggestion}}
          </div>
      {{/each}}
    </div>

    <div class="row">
        <div class="col-sm-7">
            <div class="book-summary">
                <h3>Summary</h3>
                <p>{{model.summary}}</p>
            </div>

            <!--Feedback-->
          <h3>Feedbacks</h3>
          <div class="row" id="book-feedbacks-options">
              <div class="col-xs-12">
                {{pagination-limit limit=limit class="pull-right"}}

                  <div class="btn-group pull-right">
                      <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{orderBy}}</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        {{#each options as |option|}}
                            <li><a href="#" {{action 'select' option}}>{{option}}</a></li>
                        {{/each}}
                      </ul>
                  </div>
              </div>
          </div>



          {{#each feedbacks as |feedback|}}
            {{book-feedback feedback=feedback customer=customer}}
          {{/each}}

          {{pagination-nav max=pagecount offset=offset limit=limit search='updateFeedbacks'}}

        </div>

        <div class="col-sm-4 col-sm-offset-1">
            <div class="book-cart">
                <h4><i class="glyphicon glyphicon-shopping-cart"></i> Add into cart</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="pull-right book-cart-price"> ￥{{model.price}} x </span>
                    </div>
                    <div class="col-sm-8">
                        <form class="form-inline">
                          {{input type="number" class="form-control input-sm" max=100 min=0 id="inputAmount" placeholder="" value=amount}}
                            <button {{action 'add2Cart'}} class="btn btn-primary btn-sm pull-right"
                              {{bind-attr disabled=invalid}}>Add</button>
                        </form>
                    </div>
                </div>

            </div>

            <!--Write Feedback-->
            <div class="book-new-feedback">
              {{#if ownFeedback}}
                {{#each ownFeedback as |feedback|}}
                    <h4>Your Feedback</h4>
                    <div class="row">
                        <div class="col-sm-5">
                            <p><strong>{{feedback.customer.username}} </strong>
                              {{print-date date=feedback.time format="YYYY-MM-DD hh:mm:ss"}}</p>
                        </div>
                        <div class="col-sm-7">
                            <!--<i class="glyphicon glyphicon-star"> </i>-->
                            <!--<i class="glyphicon glyphicon-star-empty"></i>-->
                          {{show-star-rating rating=feedback.score}}
                            <span>{{feedback.score}} / 10</span>
                        </div>
                    </div>
                    <p>{{feedback.comment}}</p>
                {{/each}}
              {{else}}
                  <h4>Write Your Feedback</h4>
                  <form class="form">
                      <div class="form-group">
                        {{textarea class="form-control" rows="3" value=comment}}
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-3 input-group-sm">
                            {{input type="number" class="form-control" max=10 min=0 id="inputRating" placeholder="" value=rating}}
                          </div>
                          <div class="col-sm-4 new-feedback-rating">
                            {{show-star-rating rating=rating}}
                          </div>
                          <div class="col-sm-2 pull-right">
                              <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                              <button {{action 'submitFeedback'}} class="btn btn-primary pull-right btn-sm">Submit</button>
                          </div>
                      </div>
                  </form>
              {{/if}}
            </div>
        </div>
    </div>

</div>