<div class="container">
    <div class="page-header row">
        <div class="col-xs-3">
            <h1>Search</h1>
        </div>
        <div class="col-xs-8">

          {{auto-complete-books-nav _class="form-control" _id="inputBook" _placeholder="Search a book"
          store=this.store modelName="book" term="all" textValue=keywords action="search"}}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 search-sidebar">
            <h4>Sort by</h4>
            <div class="list-group col-xs-12">
                <a href="#" {{action 'sortByYr'}} {{bind-attr class=":list-group-item sortByYr:active"}}>
                    <p class="list-group-item-text">Year</p>
                </a>
                <a href="#" {{action 'sortByFb'}} {{bind-attr class=":list-group-item sortByFb:active"}}>
                    <p class="list-group-item-text">Feedback</p>
                </a>
                <a href="#" {{action 'sortByTFb'}} {{bind-attr class=":list-group-item sortByTFb:active"}}>
                    <p class="list-group-item-text">Trusted Feedback</p>
                </a>
            </div>
            <div class="list-group col-xs-12">
                <a href="#" {{action 'descent'}} {{bind-attr class=":list-group-item descent:active"}}>
                    <p class="list-group-item-text">Descent</p>
                </a>
                <a href="#" {{action 'ascent'}} {{bind-attr class=":list-group-item ascent:active"}}>
                    <p class="list-group-item-text">Ascent</p>
                </a>
            </div>
            <p>{{#link-to 'store.advancedSearch'}}Advanced search{{/link-to}}</p>
        </div>

        <div class="col-sm-8 search-main">
            <div class="result-head" style="margin-bottom:15px; border-bottom: 1px solid lightgrey;">
                <h4>We've found 791,141 results</h4>
            </div>
          {{#each model as |book|}}
              <div class="book-list row" style="margin-bottom:15px; border-bottom: 1px solid lightgrey;">
                  <div class="col-xs-9">
                      <h3>{{#link-to 'store.book' book}}《{{book.title}}》{{/link-to}} <small>{{book.subtitle}}</small></h3>
                      <h5>
                        {{print-date date=book.pubdate}} By
                        {{#each book.authors as |author|}}{{#link-to 'store'}}{{author.name}}{{/link-to}} {{/each}}
                      </h5>
                  </div>
                  <div class="col-xs-2 pull-right book-list-cart" style="margin-top: 20px">
                      <h4><i class="glyphicon glyphicon-shopping-cart"></i> ￥{{book.price}}</h4>
                  </div>
                  <div class="col-xs-12">
                      <p class="text-muted" style="max-height: 80px; overflow: hidden; text-overflow: ellipsis ">
                        {{book.summary}}
                      </p>
                  </div>
              </div>
          {{/each}}
        </div>


    </div>
</div>