{{#if hasAdded}}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Successfully!</strong>
</div>
{{/if}}

{{#if hasError}}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong>
    </div>
{{/if}}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add a new book</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div {{bind-attr class=":form-group ISBNError:has-feedback ISBNError:has-error" }}>
                <label for="inputISBN" class="col-sm-3 control-label">ISBN</label>
                <div class="col-sm-8">
                    <!--<input type="text" class="form-control" id="inputISBN" placeholder="ISBN">-->
                  {{input type="text" class="form-control" id="inputISBN" placeholder="ISBN" value=ISBN}}
                </div>
            </div>
            <div {{bind-attr class=":form-group titleError:has-feedback titleError:has-error" }}>
                <label for="inputTitle" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-8">
                    <!--<input type="text" class="form-control" id="inputTitle" placeholder="Title">-->
                  {{input type="text" class="form-control" id="inputTitle" placeholder="Title" value=title}}
                </div>
            </div>
            <div class="form-group">
                <label for="inputSubtitle" class="col-sm-3 control-label">Subtitle (Optional)</label>
                <div class="col-sm-8">
                    <!--<input type="text" class="form-control" id="inputTitle" placeholder="Title">-->
                  {{input type="text" class="form-control" id="inputSubtitle" placeholder="Subtitle" value=subtitle}}
                </div>
            </div>
            <div {{bind-attr class=":form-group publisherError:has-feedback publisherError:has-error" }}>
                <label for="inputPublisher" class="col-sm-3 control-label">Publisher</label>
                <div class="col-sm-8">
                    <!--<input type="text" class="form-control" id="inputPublisher" placeholder="Publisher">-->
                  {{auto-complete _class="form-control" _id="inputPublisher" _placeholder="Publisher"
                  store=this.store modelName="publisher" term="name" value=publisher}}
                </div>
            </div>
            <div {{bind-attr class=":form-group authorsError:has-feedback authorsError:has-error" }}>
                <label for="inputAuthor" class="col-sm-3 control-label">Author(s)</label>
                <div class="col-sm-8">
                    <!--<input type="text" class="form-control" id="inputPublisher" placeholder="Publisher">-->
                  {{multi-select _class="form-control" _id="inputAuthor" _placeholder="Author"
                  store=this.store modelName="author" term="name" values=authors}}
                </div>
            </div>
            <div {{bind-attr class=":form-group amountError:has-feedback amountError:has-error" }}>
                <label for="inputAmount" class="col-sm-3 control-label">Amount</label>
                <div class="col-sm-8">
                    <!--<input type="number" class="form-control" id="inputAmount" placeholder="Amount">-->
                  {{input type="number" class="form-control" id="inputAmount" placeholder="Amount" value=amount}}
                </div>
            </div>
            <div {{bind-attr class=":form-group priceError:has-feedback priceError:has-error" }}>
                <label for="inputPrice" class="col-sm-3 control-label">Price</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">￥</span>
                        <!--<input type="number" class="form-control" id="inputPrice" placeholder="Price" step="0.01">-->
                      {{input type="number" class="form-control" id="inputPrice" placeholder="Price" step="0.01" value=price}}
                    </div>
                </div>
            </div>
            <div {{bind-attr class=":form-group pubdateError:has-feedback pubdateError:has-error" }}>
                <label for="inputPubdate" class="col-sm-3 control-label">Publication Date</label>
                <div class="col-sm-8">
                    <!--<input type="date" class="form-control input" id="inputPubdate" placeholder="Publication Date">-->
                  {{input type="date" class="form-control input" id="inputPubdate" placeholder="Publication Date" value=pubdate}}
                </div>
            </div>
            <div class="form-group">
                <label for="inputFormat" class="col-sm-3 control-label">Format (Optional)</label>
                <div class="col-sm-8">
                    <!--<input type="text" class="form-control input" id="inputFormat" placeholder="Format">-->
                  {{input type="text" class="form-control input" id="inputFormat" placeholder="Format" value=format}}
                </div>
            </div>
            <div class="form-group">
                <label for="inputSubject" class="col-sm-3 control-label">Subject (Optional)</label>
                <div class="col-sm-8">
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                  {{input type="text" class="form-control input" id="inputSubject" placeholder="Subject" value=subject}}
                </div>
            </div>
            <div class="form-group">
                <label for="inputKeyword" class="col-sm-3 control-label">Keyword (Optional)</label>
                <div class="col-sm-8">
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                  {{input type="text" class="form-control input" id="inputKeyword" placeholder="Keyword" value=keyword}}
                </div>
            </div>
            <div class="form-group">
                <label for="inputImage" class="col-sm-3 control-label">Image (Optional)</label>
                <div class="col-sm-8">
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                  {{input type="text" class="form-control input" id="inputImage" placeholder="Image URL" value=img}}
                </div>
            </div>
            <div class="form-group">
                <label for="inputSummary" class="col-sm-3 control-label">Summary (Optional)</label>
                <div class="col-sm-8">
                    <!--<textarea class="form-control" rows="3"></textarea>-->
                  {{textarea class="form-control" rows="3" value=summary}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-8">
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    <button {{action 'submit'}} class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
