<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
            Most popular authors
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      {{my-daterange-picker startDate=start endDate=end class="pull-left"}}
    </div>
    <div class="col-sm-6">
      {{pagination-limit limit=limit class="pull-right"}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Author id</th>
                <th>Author name</th>
                <th>Orders</th>
            </tr>
            </thead>
            <tbody>
            {{#each authors as |author|}}
                <tr>
                    <td>{{#link-to 'store.author' author}}{{author.id}}{{/link-to}}</td>
                    <td>{{#link-to 'store.author' author}}{{author.name}}{{/link-to}}</td>
                    <td>{{author.sales}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{pagination-nav max=pagecount offset=offset limit=limit}}

