<div class="container">
    <div class="page-header">
        <!--<div class="col-sm-8">-->
        <h2>Shopping Cart</h2>
        <!--</div>-->
        <!--<h4 class="pull-right"><i class="glyphicon glyphicon-shopping-cart"></i></h4>-->
    </div>
    <div class="col-sm-12">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Unit Price</th>
                    <th>Subtotal</th>
                </tr>
                </thead>
                <tbody>
                {{#each model as |item|}}
                  {{#if item.amount}}
                      <tr>
                          <td>{{#link-to 'store.book' item.book}}{{item.book.id}}{{/link-to}}</td>
                          <td>{{#link-to 'store.book' item.book}}{{item.book.title}}{{/link-to}}</td>
                          <td>{{item.amount}}</td>
                          <td>{{item.book.price}}</td>
                          <td>{{a-mul-b a=item.amount b=item.book.price}}</td>
                      </tr>
                  {{/if}}
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="row">
            <button class="btn btn-primary" {{action 'confirm'}}>Confirm</button>

        </div>
    </div>
</div>