<div class="container">
    <div class="page-header">
        <!--<div class="col-sm-8">-->
        <h2>{{customer.name}}</h2>
        <!--</div>-->
        <!--<h4 class="pull-right"><i class="glyphicon glyphicon-shopping-cart"></i></h4>-->
    </div>
    <div class="col-sm-12 book-main">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Address</th>
                    <th>Price ￥</th>
                </tr>
                </thead>
                <tbody>
                {{#each customer.orders as |order|}}
                <tr>
                    <th>{{#link-to 'store.order' order}}{{order.id}}{{/link-to}}</th>
                    <td>{{order.time}}</td>
                    <td>{{order.address}}</td>
                    <td>{{to-fixed fixed=2 num=order.totalPrice}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>



</div>