<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          {{#link-to 'store.index' class='navbar-brand'}}Bookstore{{/link-to}}
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          {{#if displaySearchbar}}

                  <form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                        {{auto-complete-books-nav _class="form-control" _id="inputBook" _placeholder="Search a book"
                        store=this.store modelName="book" term="all" textValue=keywords search="search"}}
                      </div>
                  </form>

          {{/if}}


            <ul class="nav navbar-nav">
                <li>{{#link-to 'store.expo'}}Expo{{/link-to}}</li>

              {{#if customer}}
                  <li>{{#link-to 'store.search'}}Search{{/link-to}}</li>
                  <li>{{#link-to 'store.orders'}}Orders{{/link-to}}</li>
                  <li>{{#link-to 'store.cart'}}Cart{{/link-to}}</li>
              {{/if}}
            </ul>

            <ul class="nav navbar-nav navbar-right">
              {{#if customer}}
                {{#if customer.admin}}
                    <li>{{#link-to 'admin'}}Manage{{/link-to}}</li>
                {{/if}}
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, {{customer.name}} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li>{{#link-to 'store'}}Something{{/link-to}} </li>
                          <li class="divider"></li>
                          <li><a {{action 'logout'}} href="/">Log out</a></li>
                      </ul>
                  </li>
              {{else}}

                  <li>{{#link-to 'store.login'}}Log in{{/link-to}}</li>
                  <li>{{#link-to 'store.signup'}}Sign up{{/link-to}}</li>

              {{/if}}
            </ul>
        </div>
    </div>
</nav>

{{outlet}}

<footer>

</footer>
